In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats

In [4]:
epl_1718 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E0.csv")
epl_1718 = epl_1718[['HomeTeam','AwayTeam','FTHG','FTAG']]
epl_1718 = epl_1718.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals'})
epl_1718.head()

     HomeTeam        AwayTeam  HomeGoals  AwayGoals
0   Brentford         Arsenal          2          0
1  Man United           Leeds          5          1
2     Burnley        Brighton          1          2
3     Chelsea  Crystal Palace          3          0
4     Everton     Southampton          3          1

In [5]:
goal_model_data = pd.concat([epl_1718[['HomeTeam','AwayTeam','HomeGoals']].assign(home=1).rename(
            columns={'HomeTeam':'team', 'AwayTeam':'opponent','HomeGoals':'goals'}),
           epl_1718[['AwayTeam','HomeTeam','AwayGoals']].assign(home=0).rename(
            columns={'AwayTeam':'team', 'HomeTeam':'opponent','AwayGoals':'goals'})])
goal_model_data

            team        opponent  goals  home
0      Brentford         Arsenal      2     1
1     Man United           Leeds      5     1
2        Burnley        Brighton      1     1
3        Chelsea  Crystal Palace      3     1
4        Everton     Southampton      3     1
..           ...             ...    ...   ...
375   Man United  Crystal Palace      0     0
376  Southampton       Leicester      1     0
377       Wolves       Liverpool      1     0
378  Aston Villa        Man City      2     0
379    Tottenham         Norwich      5     0

[760 rows x 4 columns]

In [6]:
poisson_model = smf.glm(formula="goals ~ home + team + opponent", data=goal_model_data, 
                        family=sm.families.Poisson()).fit()

print(poisson_model.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                  760
Model:                            GLM   Df Residuals:                      720
Model Family:                 Poisson   Df Model:                           39
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1075.0
Date:                Sun, 22 Oct 2023   Deviance:                       794.70
Time:                        16:14:32   Pearson chi2:                     694.
No. Iterations:                     5   Pseudo R-squ. (CS):             0.2519
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.2935      0.198      1.480      0.139      -0.095       0.682
team[T.Aston Villa]           -0.1541      0.189     -0.816      0.415      -0.525       0.216
team[T.Brentford]             -0.2324      0.193     -1.203      0.229      -0.611       0.146
team[T.Brighton]              -0.3780      0.201     -1.883      0.060      -0.771       0.015
team[T.Burnley]               -0.5809      0.214     -2.711      0.007      -1.001      -0.161
team[T.Chelsea]                0.2056      0.172      1.194      0.232      -0.132       0.543
team[T.Crystal Palace]        -0.2013      0.191     -1.054      0.292      -0.576       0.173
team[T.Everton]               -0.3328      0.199     -1.669      0.095      -0.724       0.058
team[T.Leeds]                 -0.3435      0.201     -1.710      0.087      -0.737       0.050
team[T.Leicester]              0.0273      0.181      0.151      0.880      -0.327       0.381
team[T.Liverpool]              0.4117      0.165      2.501      0.012       0.089       0.734
team[T.Man City]               0.4636      0.163      2.845      0.004       0.144       0.783
team[T.Man United]            -0.0591      0.185     -0.320      0.749      -0.421       0.303
team[T.Newcastle]             -0.3137      0.198     -1.584      0.113      -0.702       0.074
team[T.Norwich]               -0.9422      0.245     -3.846      0.000      -1.422      -0.462
team[T.Southampton]           -0.3318      0.199     -1.664      0.096      -0.723       0.059
team[T.Tottenham]              0.1156      0.176      0.657      0.511      -0.229       0.461
team[T.Watford]               -0.5574      0.214     -2.601      0.009      -0.977      -0.137
team[T.West Ham]              -0.0136      0.182     -0.075      0.940      -0.370       0.343
team[T.Wolves]                -0.4792      0.207     -2.316      0.021      -0.885      -0.074
opponent[T.Aston Villa]        0.1092      0.199      0.550      0.583      -0.280       0.499
opponent[T.Brentford]          0.1417      0.197      0.719      0.472      -0.244       0.528
opponent[T.Brighton]          -0.1058      0.209     -0.506      0.613      -0.515       0.304
opponent[T.Burnley]            0.0729      0.199      0.365      0.715      -0.318       0.464
opponent[T.Chelsea]           -0.3608      0.226     -1.594      0.111      -0.805       0.083
opponent[T.Crystal Palace]    -0.0535      0.207     -0.259      0.796      -0.458       0.351
opponent[T.Everton]            0.3015      0.190      1.587      0.112      -0.071       0.674
opponent[T.Leeds]              0.4809      0.183      2.624      0.009       0.122       0.840
opponent[T.Leicester]          0.2080      0.195      1.068      0.285      -0.174       0.590
opponent[T.Liverpool]         -0.5819      0.244     -2.387      0.017      -1.060      -0.104
opponent[T.Man City]          -0.5769      0.244     -2.366      0.018      -1.055      -0.099
opponent[T.Man United]         0.1684      0.196      0.858      0.391      -0.216       0.553
opponent[T.Newcastle]          0.2398      0.193      1.246      0.213      -0.138       0.617
opponent[T.Norwich]            0.5235      0.181      2.889      0.004       0.168       0.879
opponent[T.Southampton]        0.3166      0.189      1.672      0.095      -0.055       0.688
opponent[T.Tottenham]         -0.1749      0.214     -0.816      0.415      -0.595       0.245
opponent[T.Watford]            0.4472      0.184      2.428      0.015       0.086       0.808
opponent[T.West Ham]           0.0598      0.201      0.297      0.766      -0.335       0.455
opponent[T.Wolves]            -0.1327      0.210     -0.631      0.528      -0.545       0.279
home                           0.1478      0.061      2.412      0.016       0.028       0.268
==============================================================================================

In [7]:
poisson_model.predict(pd.DataFrame(data={'team': 'Arsenal', 'opponent': 'Southampton',
                                       'home':1},index=[1]))

1    2.133813
dtype: float64

In [8]:
poisson_model.predict(pd.DataFrame(data={'team': 'Southampton', 'opponent': 'Arsenal',
                                       'home':0},index=[1]))

1    0.962409
dtype: float64

In [12]:
def simulate_match(foot_model, homeTeam, awayTeam, max_goals=10):
    home_goals_avg = foot_model.predict(pd.DataFrame(data={'team': homeTeam, 
                                                            'opponent': awayTeam,'home':1},
                                                      index=[1])).values[0]
    away_goals_avg = foot_model.predict(pd.DataFrame(data={'team': awayTeam, 
                                                            'opponent': homeTeam,'home':0},
                                                      index=[1])).values[0]
    team_pred = [[stats.poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in [home_goals_avg, away_goals_avg]]
    return(np.outer(np.array(team_pred[0]), np.array(team_pred[1])))
ars_sou = simulate_match(poisson_model, 'Arsenal', 'Southampton', max_goals=10)
print(ars_sou[0:5, 0:5])

[[0.04521972 0.04351987 0.02094196 0.00671824 0.00161642]
 [0.09649042 0.09286326 0.04468622 0.01433548 0.00344915]
 [0.10294625 0.09907641 0.04767602 0.01529461 0.00367992]
 [0.07322268 0.07047018 0.03391057 0.01087861 0.00261742]
 [0.03906088 0.03759254 0.0180897  0.00580323 0.00139627]]